<div class="page-container">
  <h1>About me</h1>
  <hr />
  <div class="play-container">
    <p>
      I'm a full-stack software developer based in Greensboro, NC. I'm experienced in software design, development, and implementation.
      I've worked on several projects and enjoy building things. Feel free to check out my resume and project portfolio.
    </p>
    <div class="link-container">
      <div class="link-border">
        <a href="#" routerLink="/resume"><span>Resume</span></a>
        <a href="#" routerLink="/projects"><span>Projects</span></a>
      </div>
    </div>
  </div>
  <h1>Education</h1>
  <hr />
  <div class="play-container">
    <div class="edu-div">
      <div class="edu-border">
        <h2>
          Bachelor of Science Degree of Computer Science
        </h2>
        <p>
          <a href="https://compsci.uncg.edu/">University of North Carolina at Greensboro</a> – Greensboro, NC
          <br />
          <i>August 2015 - May 2019</i>
        </p>
      </div>
    </div>
    <ul>
      <li><strong>Related course work: </strong>Concepts of Programming Languages, Advanced Data Structures, Software Engineering, Principles of Database Systems</li>
    </ul>
  </div>
  <h1>Skills</h1>
  <hr />
  <div class="play-container">
    <div class="skill-div">
      <div class="skill-border">
        <h2>Languages</h2>
      </div>
      <ul>
        <li>Java</li>
        <li>C#</li>
        <li>SQL</li>
        <li>XAML/WPF</li>
        <li>XML</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
    <div class="skill-div">
      <div class="skill-border">
        <h2>Tools</h2>
      </div>
      <ul>
        <li>.Net</li>
        <li>Angular 8</li>
        <li>Git/Github</li>
        <li>AWS</li>
        <li>MySQL</li>
        <li>NUnit Testing</li>
        <li>Mercurial</li>
        <li>SourceTree</li>
        <li>Visual Studio</li>
        <li>NetBeans</li>
        <li>Jira</li>
      </ul>
    </div>
    <div class="skill-div">
      <div class="skill-border">
        <h2>O.S</h2>
      </div>
      <ul>
        <li>Linux (Ubuntu)</li>
        <li>Windows 7</li>
        <li>Windows XP</li>
        <li>Windows 10</li>
      </ul>
    </div>
  </div>
</div>
