<div class="page-container">
  <h1>Project Portfolio</h1>
  <hr />
  <div class="play-container">
    <div class="project-div">
      <div class="project-border">
        <div class="project-header">
          <h2><a href="https://github.com/aesthellar/ToDoList">To Do List</a></h2>
          <p>
            Application to allow users to create, save, and load multiple, comprehensive lists.
            <br />
            <strong>Technologies used: </strong> C#, WPF
          </p>
        </div>
        <div class="pic">
          <img src="/assets/Images/ToDoListScreenCap.PNG" width="700" height="350" />
        </div>
      </div>
    </div>
    <div class="project-div">
      <div class="project-border">
        <div class="project-header">
          <h2><a href="https://github.com/gnpurvin/CSC490DPS">Dungeon Positioning System</a></h2>
          <p>
            A Dungeons and Dragons management companion tool to generate maps, track character sheets, and connect with other players in different campaigns.
            <br />
            <strong>Technologies used: </strong> Java, SQL, AWS
          </p>
        </div>
        <div class="pic">
          <img src="/assets/Images/DPSScreenCap.png" width="600" height="350" />
        </div>
      </div>
    </div>
    <div class="project-div">
      <div class="project-border">
        <div class="project-header">
          <h2><a href="https://github.com/aesthellar/aesthellar.github.io">Web Portfolio</a></h2>
          <p>
            Personal website showcasing skills and projects.
            <br />
            <strong>Technologies used: </strong> HTML, CSS, Angular
          </p>
        </div>
        <div class="pic">
          <img src="/assets/Images/WebsiteScreenCap.png" width="600" height="300" />
        </div>
      </div>
    </div>
  </div>
</div>
