<div class="page-container">
  <h1>Contact</h1>
  <hr/>
  <div class="play-container">
    <p>
      If you're interested in contacting me for business or to just say hello, feel free to
      send me an email at <a href="mailto: mdong.liz@gmail.com">mdong.liz@gmail.com</a>.
      For further connections, follow me on my social media:
    </p>
    <div class="link-container">
      <div class="link-border">
        <a href="https://www.linkedin.com/in/mei-lin-dong-38a01a11a/"><span>LinkedIn</span></a>
        <a href="http://instagram.com/acethellar"><span>Instagram</span></a>
        <a href="https://www.facebook.com/elizabeth.dong.58"><span>Facebook</span></a>
      </div>
    </div>
  </div>
</div>
