<div class="page-container">
  <h1>Work Experience</h1>
  <hr/>
  <div class="play-container">
    <div class="work-div">
      <div class="work-header">
        <div class="work-border">
          <h2>
            Altair Engineering
          </h2>
          <p>
            Software Development Intern – Greensboro, NC
            <br/>
            <i>August 2019 - November 2019</i>
          </p>
        </div>
      </div>
      <ul>
        <li>Delivered various data formatting features utilizing C#.NET technologies in full-
          stack development to be distributed in a distinguished data preparation software
          used by over 14,000 customers worldwide.</li>
        <li>Engaged with a team of established developers in peer-based code reviews
          adapting programming practices and functional design guidelines used to develop
          efficient code.</li>
        <li>Created and implemented various unit tests to analyze extensive use cases in
          order to optimize application stability and user-friendliness.</li>
      </ul>
    </div>
    <div class="work-div">
      <div class="work-header">
        <div class="work-border">
          <h2>
            Greensboro Science Center
          </h2>
          <p>
            Robotics Coach – Greensboro, NC
            <br/>
            <i>January 2018 - March 2019</i>
          </p>
        </div>
      </div>
      <ul>
        <li>
          Organized a technical curriculum focused on coding and engineering that inspired
          students aged 6-13 to pursue education in the STEM fields.
        </li>
        <li>
          Lead diverse groups of students to produce multiple projects demonstrating their
          teamwork and application of technical skills.
        </li>
      </ul>
    </div>
  </div>
</div>
